#gc-hero-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 16000;
  width: 100% !important;
  color: white;
  border: {
    left: 0 !important;
  }
  .logo {
    position: relative;
    left: 10px;
    cursor: pointer;
  }
  .menu.right {
  }
  .ui.horizontal.celled.list .list > .item:last-child, .ui.horizontal.celled.list > .item:last-child {
    border: {
      left: 0 !important;
    }
  }
  .ui.menu {
    transition-duration: .5s;
    padding: {
      top: 15px;
      bottom: 15px;
    }
    border-radius: 0px;
    height: 70px;
    border: none;
    .item {
      font-family: "mr-eaves-modern";
      color: #555555;
      &:hover {
        background: {
          color: transparent;
        }
        color: #F3D179;
      }
    }
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    & .active.item {
      background: {
        color: transparent;
      }
    }
    &.transparentMenu {
      transition-duration: .5s;
      background: {
        color: transparent;
      }
      box-shadow: none;
      .item {
        font-family: "mr-eaves-modern";
        color: white;
        &:hover {
          background: {
            color: transparent;
          }
          color: #2CA4BF;
        }
      }
      & .active.item {
        background: {
          color: transparent;
        }
      }
    }

    i.dropdown.icon {
      display: none;
    }
  }

  .menu.transition {
    background-color: hsla(200, 32%, 78%, 0.2);
    border: 0;
    box-sizing: border-box;
    width: 119px;

    & .item {
      width: 100%;
      height: 40px;
      padding: 0 !important;
    }

    & .item:hover {
      background-color: lighten(hsla(200, 32%, 78%, 0.2), 30%) !important;
    }

    & .dropdown_link {
      width: 100%;
      height: 100%;
      display: flex;
      padding-left: 11px;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
    }
  }

  .not_top_dropdown {
    background-color: darken(hsla(200, 32%, 78%, 0.6), 30%) !important;

    & .item:hover {
      background-color: lighten(hsla(200, 32%, 78%, 0.6), 6%) !important;
    }
  }
}
