#gc-hero-menu {
  position: absolute;
  z-index: 100;
  width: 100% !important;
  color: white;
  border: {
    left: 0 !important;
  }

  #default-menu {
    //@media (max-width: 619px) {
    //  display: none;
    //}

    .ui.horizontal.celled.list .list > .item:last-child, .ui.horizontal.celled.list > .item:last-child {
      border: {
        left: 0 !important;
      }
    }
  }

  #mobile-menu {
    display: none;

    //@media (max-width: 619px) {
    //  display: flex;
    //}
  }

  .ui.menu {
    transition-duration: .5s;
    border-radius: 0;
    height: 70px;
    border: none;

    .item {
      font-family: "mr-eaves-modern";
      color: #555555;
      font-size: 20px;


      &:hover {
        background: {
          color: transparent;
        }
        color: #F3D179;
      }

    }

    box-shadow: 0 7px 2px 0 rgba(0, 0, 0, .15);

    & .active.item {
      background: {
        color: transparent;
      }
    }

    &.transparentMenu {
      transition-duration: .5s;

      background: {
        color: transparent;
      }

      box-shadow: none;
      .item {
        font-family: "mr-eaves-modern";
        color: white;
        font-size: 20px;
        text-align: center;

        &:hover {
          background: {
            color: transparent;
          }
          color: #1AEF22;
        }
      }
      & .active.item {
        background: {
          color: transparent;
        }
      }
    }
  }

  .menu.transition {
    background-color: black;
    border: 0;
    width: 335px;
    margin-right: 20px;
    text-align: center;

    & .item {
      width: 100%;
      height: 40px;
      padding: 0 !important;

    }

    & .item:hover {
      background-color: lighten(hsla(200, 32%, 78%, 0.2), 30%) !important;
    }

    & .dropdown_link {
      width: 100%;
      height: 100%;
      color: #fff;
      text-align: center;
    }
  }
}

.dropdown_link {
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
}